.reveal .slide-number {
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  right: inherit;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.persona__img {
  position: relative;
  top: -50px;
}

.reveal .table {
  font-size: 30px;
}

.reveal section img {
  border: 0;
}

.aries {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aries > p > small {
  margin: 10px;
}
